.WeatherForm {
    flex-direction: column;

    &,
    &__wrapper {
        display: flex;
    }

    &__wrapper {
        justify-content: center;
        align-items: center;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }
}
