.Select {
    &__input {
        width: 350px;
        position: relative;
        transition: all 0.7s;

        color: rgb(40, 40, 40);

        font-size: 16px;
        line-height: 24px;

        appearance: none;

        margin-right: 16px;

        &:hover,
        &:active,
        &:focus {
            border-color: $primary;
        }

        & > div {
            padding: 11px 15px;
            border: 1px solid #9f9f9f;
            border-radius: 2px;
        }
    }
}
