.Select {
    &__input {
        width: 350px;
        position: relative;
        transition: all 0.7s;
        color: rgb(40, 40, 40);
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        appearance: none;
        margin-right: 16px;

        &:hover,
        &:active,
        &:focus {
            border-color: $primary;
        }

        & > div {
            padding: 11px 15px;
            border: 1px solid #9f9f9f;
            border-radius: 2px;
        }
    }

    &__error {
        color: $danger;
    }

    &__help {
        color: rgba($light, 0.6);
    }

    &__help,
    &__error {
        position: absolute;
        left: 8px;
    }
}
