.Input {
    &__label {
        position: relative;

        margin-bottom: 0;

        color: rgb(120, 120, 120);

        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        max-width: 400px;

        & + & {
            margin-top: 28px;
        }
    }

    &__input {
        width: 100%;
        padding: 11px 15px;
        position: relative;
        transition: all 0.7s;

        color: rgb(40, 40, 40);
        border: 1px solid #9f9f9f;
        border-radius: 2px;

        font-size: 16px;
        line-height: 24px;

        appearance: none;

        &:hover,
        &:active,
        &:focus {
            border-color: $primary;
        }
    }

    &__inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
